allow system_app time_daemon:unix_stream_socket { connectto };
allow mediaserver mediaserver_tmpfs:file { read write execute };

get_prop(system_app, qemu_hw_mainkeys_prop)
